:root {
    --clr-white: hsla(0, 0%, 100%, 1);
    --clr-deep-blue: hsla(212, 23%, 11%, 1);
    --clr-light-blue:hsla(208, 18%, 47%, 1);
    --clr-grey: #f5f5f5;
    --clr-cta: hsla(140, 100%, 39%, 1);

    --clr-text-black: hsla(0, 0%, 0%, 1);
    --clr-text-white: hsla(0, 0%, 100%, 1);
    --clr-text-light-blue: hsla(208, 18%, 47%, 1);
}

/*

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  size-adjust: 100%;
  src: url(../fonts/TTNorms-Light.woff2) format('woff2'),
       url(../fonts/TTNorms-Light.woff) format('woff'),
}

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  size-adjust: 100%;
  src: url(../fonts/TTNorms-Regular.woff2) format('woff2'),
       url(../fonts/TTNorms-Regular.woff) format('woff'),
}

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  size-adjust: 100%;
  src: url(../fonts/TTNorms-Medium.woff2) format('woff2'),
       url(../fonts/TTNorms-Medium.woff) format('woff'),
}

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  size-adjust: 100%;
  src: url(../fonts/TTNorms-Bold.woff2) format('woff2'),
       url(../fonts/TTNorms-Bold.woff) format('woff'),
}

@font-face {
  font-family: 'TTNorms';
  font-style: swap;
  font-weight: 700;
  size-adjust: 100%;
  font-display: optional;
  src: url(../fonts/TTNorms-ExtraBold.woff2) format('woff2'),
       url(../fonts/TTNorms-ExtraBold.woff) format('woff'),
}

*/

/* Default Styles Reset */

* {
    padding: 0;
    margin: 0;
    font: inherit;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

    font-family: 'TTNorms', sans-serif;
    font-size: 1rem; 
    font-weight: 300;
}

img,
picture,
svg {

    display: block;
    max-width: 100%;

}

a {
    text-decoration: none;
    color: var(--clr-text-white);
    transition: color .3s ease-in-out;
}


ul {
    list-style: none;
}

/* Typography */

h2 {
    font-size: 4rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
}

/* Background Colors */

.bg-grey {
    background-color: var(--clr-grey);
}

.bg-dark {
    background-color: var(--clr-deep-blue);
    color: var(--clr-text-white);
}

.bg-light {
    background-color: var(--clr-white)
}

/* Header*/

header {
    background-color: var(--clr-deep-blue);
    color: var(--clr-text-white);

    padding: 100px 100px 30px 100px;
}

.dropdown-menu {
    display: none;
    gap: 30px;
    padding: 60px 40px 40px 40px;
    margin-top: 0px;
    margin-left: -40px;
    position: absolute;
    z-index: 99;
    background-color: var(--clr-deep-blue);
    color: var(--clr-white);
    border-radius: 0 0 20px 20px;
}

nav ul li:hover > .dropdown-menu {
	display: flex;
}

.dropdown-menu h3 {
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: 600;
}

.dropdown-menu ul li {
    font-size: 1rem;
    margin: 0;
}

.dropdown-menu-left {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.dropdown-menu-left ul {
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.dropdown-menu-right ul {
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

a:hover {
    color: var(--clr-cta);
}

.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headline-logo {
    display: flex;
    gap: 30px;

    font-size: 1.5rem;
    line-height: 140%;
}

.headline-logo h1 {

    margin-top: 15px;

    width: 22ch;
    align-self: flex-end;

    font-weight: 200;

    text-transform: uppercase;
}

.headline-phones {
    display: flex;
    flex-direction: column;

    margin-top: 16px;

    gap: 10px;

    font-size: 2.5rem;
}

header nav ul {
    display: flex;
    gap: 30px;

    margin-top: 100px;

    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* Slider */

.swiper {
    width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    color: var(--clr-text-white) !important;
}

.autoplay-progress {
      position: absolute;
      right: 200px;
      bottom: 100px;
      z-index: 98;
      width: 115px;
      height: 115px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      color: var(--clr-white);
    }

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 99;
    width: 100%;
    height: 100%;
    stroke-width: 2px;
    stroke: var(--clr-white);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}


.autoplay-progress::after {
    content: '';
    top: 0;
    position: absolute;
    margin-top: 8px;
    z-index: 96;
    width: 95px;
    height: 95px;
    border: 1px solid var(--clr-white);
    border-radius: 50%;
}

.swiper-slide {
    max-height: 900px;
    color: var(--clr-text-white)
}

.swiper-slide img {
    position: relative;
	max-width: 100%;
	height: auto;
}

.swiper-slide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.04%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 2;
}

.swiper-slide h2 {
    position: absolute;
    bottom: 100px;
    left: 200px;
    z-index: 55;
}

.swiper-slide .slide-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    bottom: 100px;
    z-index: 55;
    width: 100%;
}

.swiper-slide .slide-content .slide-title {
    display: flex;
    flex-direction: column;
}

.swiper-slide .slide-content h2 {
    position: relative;
    bottom: 0;
    left: 0;

    font-size: 4rem;
    line-height: 36px;
    letter-spacing: -3.5px;
}

.caption {
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 300;
}

.slide-description {
    display: flex;
    align-items: center;

    margin-top: 30px;

    font-size: 2.25rem;
    font-weight: 500;

 }

 .slide-description p {
    border-right: 1px solid var(--clr-white);
    padding-right: 25px;
 }

 .slide-description p:not(:first-child) {
    padding-left: 25px;
 }

 .slide-description a {
    font-size: 1.25rem; 
    font-weight: 400;
    text-transform: uppercase;

    background-color: var(--clr-cta);

    color: var(--clr-text-white);

    border: none;
    border-radius: 8px;

    padding: 12px 36px;
    margin-left: 25px;

    cursor: pointer;
 }

 .first-slider-title {
    line-height: 74px !important;
 }


/* Benefits section */

.benefits h2 {
    margin-bottom: 150px;
    font-weight: 400;
    line-height: 150%;
}

.benefits h3 {
    font-weight: 500;

    margin-bottom: 14px;
}

.benefits-items { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}


.benefits-item p {
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: none;
}

.content {
    padding: 200px;
}

/* Infrastructure section */

.infrastructure .content {
    display: flex;
    align-items: center;
    gap: 150px;
}

.infrastructure .content > * {
    flex: 1;
}

.infrastructure-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}


.infrastructure h2 {
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;

    margin-top: 50px;
}

.infrastructure-right p{
    text-transform: uppercase;
    line-height: 200%;
    font-weight: 400;
}

/* Heading section */

.heading {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 200px 0;
}

.heading h2 {
    font-size: 8rem;
    line-height: 64px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -3px;
}

.heading h2 span {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0;
}

.heading-dark h2{
    color: var(--clr-text-white);
}

.heading-light h2 {
    color: var(--clr-text-light-blue);
}

/* Footer section */

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-about {
 display: flex;
 flex-direction: column;
 gap: 20px;
}



.footer-left a {
    font-size: 3rem;
    text-transform: uppercase;
}

.footer-left p {
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 150%;
}

.footer-left ul {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 18px;
}

.footer-right {
    display: flex;
    gap: 100px;
    margin-top: 8px;
}

.footer-right-item h3 {
    font-weight: 500;
    margin-bottom: 30px;
}

.footer-right-item ul li {
    margin-top: 15px;
}

.footer-right-item ul li a {
    text-transform: uppercase;
}

 /* LAPTOP */ 

@media (min-width: 1200px) and (max-width: 1919px) {

    /* Header */

    header nav ul {
        margin-top: 80px;
    }

    /* Content Wrapper */

    .content {
        padding: 100px 150px;
    }

    /* Benefits Section */

    .benefits h2 {
        font-size: 3rem;
        line-height: 150%;

        margin-bottom: 100px;
    }

    .benefits-items {
        gap: 50px;
    }

    .benefits h3 {
        font-size: 1rem;
    }

    .benefits p {
        font-size: 1rem;
    }

    /* Slider */

    .swiper-slide .slide-content {
        padding: 0 100px;
        bottom: 70px;
    }

    .autoplay-progress {
        bottom: 50px;
        right: 100px;
    }

    .swiper-slide .slide-content h2 {
        font-size: 3rem;
        letter-spacing: -1px;

    }

    .swiper-slide .slide-content .caption {
        font-size: 1rem;
    }

    .first-slider-title {
        line-height: 64px !important;
    }

    /* Heading Section */

    .heading {
        padding: 150px 0;
    }

    .heading h2 {
        font-size: 6rem;
        line-height: 48px;
    }

    .heading h2 span {
        font-size: 2.25rem; 
    }

    /* Footer */

    .footer-left a {
        font-size: 2rem;
    }

    .footer-left p {
        font-size: 0.75rem;
    }

    .footer-right {
        justify-content: space-between;
        gap: 50px;
    }

    .footer-right h3 {
        font-size: 1rem;
    }

    .footer-right ul li a {
        font-size: 0.875rem;
    }




}


 /* TABLET */

@media (min-width: 768px) and (max-width: 1200px) {

    /* Header */

    header {
        padding: 100px 50px 20px 50px;
    }

    header .headline-logo img {
        height: 71px;
    }

    .headline-logo h1 {
        font-size: 1rem;
        line-height: 1.4rem;

        margin-top: 11px;
    }

    header nav ul {
        margin-top: 50px;

        font-size: 1rem;
    }

    .headline-phones {
        font-size: 1.5rem;

        margin-top: 10px;

        gap: 11px;
    }

    /* Content Wrapper */

    .content {
        padding: 100px 50px;
    }

    /* Benefits Section */

    .benefits h2 {
        font-size: 2.5rem;
        line-height: 150%;

        margin-bottom: 100px;
    }

    .benefits-items {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .benefits h3 {
        font-size: 1rem;
    }

    .benefits p {
        font-size: 1rem;
    }

    /* Slider */

    .autoplay-progress {
        right: 50px;
        bottom: 50px;
    }

    .swiper-slide .slide-content {
        padding: 0 70px;
        bottom: 70px;
    }

    .swiper-slide .slide-content h2 {
        font-size: 2.25rem;
        letter-spacing: -1px;
        line-height: 24px;

    }

    .swiper-slide .slide-content .slide-description {
        font-size: 32px;
        margin-top: 10px;
    }

    .swiper-slide .slide-content .caption {
        font-size: 0.75rem;
    }

    .swiper-slide .slide-content .slide-description a {
        padding: 8px 18px;
        display: none;
    }

    .first-slider-title {
        line-height: 48px !important;
    }

    .next-ring {
        display: none;
    }

    /* Infrastructure */

    .infrastructure .content {
        gap: 50px;
        padding: 100px 77px;
    }

    .infrastructure h2 {
        font-size: 1rem;
    }

    .infrastructure p {
        font-size: 0.75rem;
    }

    /* Heading Section */

    .heading {
        padding: 100px 0;
    }

    .heading h2 {
        font-size: 4rem;
        line-height: 36px;
    }

    .heading h2 span {
        font-size: 1.5rem; 
    }

    /* Footer */

    .footer-content {
        flex-direction: column-reverse;
        gap: 100px;
    }

    .footer-left {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-left ul {
        margin-top: 8px;
    }

    .footer-left p {
        font-size: 0.75rem;
    }

    .footer-right {
        justify-content: space-between;
        gap: 50px;
        width: 100%;
        justify-content: space-between;
    }

    .footer-right h3 {
        font-size: 1rem;
    }

    .footer-right ul li a {
        font-size: 0.875rem;
    }


    
} 

 /* MOBILE */
@media (min-width: 320px) and (max-width: 768px) {

    /* Header */

    header {
        padding: 100px 30px 20px 30px;
    }

    nav ul li:hover > .dropdown-menu {
	display: none;
    }

    .dropdown-menu {
        display: none;
    }

    .headline {
        flex-direction: column;
        gap: 50px;
    }

    .headline-logo {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    header .headline-logo img {
        height: 120px;
     }


    header .headline-logo h1 {
        font-size: 1.25rem;
        text-align: center;
        margin: 0;
    }

    header nav ul {
        justify-content: center;
        align-items: center;

        margin-top: 70px;

        font-size: 0.9375rem;
    }

    header .headline-phones {
        margin: 0;

        font-size: 2rem;

        text-align: center;
    }

    /* Content Wrapper */

    .content {
        padding: 100px 30px;
    }

    /* Benefits Section */ 

    .benefits h2 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 150%;

        margin-bottom: 50px;
    }

    .benefits h3 {
        font-size: 1rem;
        margin-bottom: 12px;
    }

    .benefits p {
        font-size: 1rem;
    }


    .benefits-items {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    /* Infrastructure */

    .infrastructure .content {
        flex-direction: column;
        padding: 100px 30px;

        gap: 50px;
    }

    .infrastructure-left {
        align-items: flex-start;

        width: 100%;
    }

    .infrastructure-left img {
        height: 112px;
        align-self: center;
    }

    .infrastructure-left h2 {
        font-size: 1rem;
        text-align: left;
    }

    .infrastructure-right {
        width: 100%;
    }

    .infrastructure-right p { 
        font-size: 0.75rem;
    }

    /* Heading Section */

    .heading {
        padding: 100px 0;
    }
    
    .heading h2 {
        font-size: 3rem;
        line-height: 32px;
    }

    .heading h2 span {
        font-size: 1.25rem;
    }

    /* Footer */

    .footer-content {
        flex-direction: column-reverse;
        gap: 100px;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-left a {
        font-size: 2.25rem;
    }

    .footer-left ul {
        margin-top: 20px;
    }

    .footer-left p {
        font-size: 0.75rem;
    }

    .footer-right {
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        width: 100%;
        justify-content: space-between;
    }

    .footer-right h3 {
        font-size: 1rem;
    }

    .footer-right ul li a {
        font-size: 0.875rem;
    }

    /* Slider */

    .swiper {
        height: 100%;
    }

    .autoplay-progress {
        right: 30px;
        width: 30px;
        height: 90px;
        bottom: 0px;
    }


    .autoplay-progress span {
        display: none;
    }

    .autoplay-progress::after {
        width: 23px;
        height: 23px;
        top: 27%;
        margin-top: 7px;
    }

    .autoplay-progress svg {
        stroke-width: 5px;
    }

    .swiper-slide {
        height: 900px;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .swiper-slide .slide-content {
        padding: 0 30px;
        bottom: 30px;
    }

    .swiper-slide .slide-content h2{
        font-size: 1.5rem;
        line-height: 18px;
        letter-spacing: 0;
    }

    .swiper-slide .slide-content .caption {
        font-size: 0.75rem;
    }

    .slide-description {
        margin-top: 14px;
    }

    .slide-description p {
        font-size: 1rem;
    }

    .slide-description p:not(:first-child) {
        border: none;
    }

    .slide-description a {
        font-size: 0.75rem;
        padding: 10px 16px;
        display: none;
    }

    .first-slider-title {
        line-height: 32px !important;
    }

    .next-ring {
        display: none;
    }

    
    } 





